<h2 {{#if important}}class="important"{{/if}}>
    <a href="/site/tasks/{{this.id}}">{{this.title}}</a>
</h2>
<p>{{this.description}}<p/>
<form method="POST" action="/site/tasks/{{id}}/delete">
    <input type="submit" value="Delete Task">
</form>
